:root{
    --header-bg : #202124;
    --header-color : white;
    --color-pink : #E85182;
    --color-danger : #FC5435;
    --color-success : #69BE54;
    --color-grey : #808080;
    --color-blue: #4747FF;

    --bg-color : #e9e7e7;
}